<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="titan_api_url"    value="http:\\localhost:8888\" />    <!-- titan api url -->
    <add key="titan_db"         value="titanDWS" />                  <!-- titan .. db location for internal queries -->
    <add key="titan_connection" value="titan_server" />              <!-- titan .. db connection for internal queries -->
    <add key="titan_debug"      value="false" />
    <!-- titan -->
  </appSettings>
  <connectionStrings>
    <add name="titan_server" providerName="System.Data.SqlClient"  connectionString="Data Source=10.0.0.229\ND; database=titanDWS; User ID=titanDWS; Password=p825amwX$;" />
    <add name="data_server"  providerName="MySql.Data.MysqlClient" connectionString="Data Source=10.0.0.229\ND; database=shipit; User ID=titanDWS; Password=p825amwX$;"  />
  </connectionStrings>
</configuration>
